body{
    background: url("https://fsa.zobj.net/crop.php?r=uPthWuoCEcUezc1aWDlAXyT1VUEz7oEhkKigURfPU6ZRjPL0p6xrlqwfQ1KBpcAVJvARkgNbIA19FN8ZhgBYtlVpEPnKjXEPC7NuRYxSskwnlswVDdcUPrMXrxj7TmyqFsr3_rr27hGNClDmEgIGvH9DRU2stASRDJSpygGSYCHzCF9g1mk9FzjnJ2HlMNR3wIgLz1VeaSMTmBEK") center center no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px 0px 0px 0px;
    font-family: 'Josefin Sans', sans-serif;
background-color: black;
}
#wrapper {
    min-height: 100%;
    margin-bottom: -70px;
}

#main_body{
    width: 1100px;
    background-color: black;
    margin: auto;
}

#cssSlider {
    width: 1100px;
    height: auto;
    overflow: hidden;
    border: 0px solid #666;
    margin: 0 auto;
    margin-bottom: 15px;
}
#sliderImages {
    width: 5500px;
    height: 593px;
    overflow: hidden;
    -webkit-animation: slide 16s infinite;
    animation-name: slide;
    animation-duration: 16s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
#store-links{
    width: 100%;
    text-align: center;
    color: white;
}

#New {
    display: inline-block;
width: 33.05%;
height: 373px;
background-color: black;
vertical-align: top;
}

#Beginner{
    display: inline-block;
width: 33.05%;
height: 373px;
background-color: black;
vertical-align: top;
}

#Accessories{
    display: inline-block;
width: 33.05%;
height: 373px;
background-color: black;
vertical-align: top;
}

#mailing_and_trending{
    width: 100%;
margin: 10px 0px 0px 0px;
text-align: center;
}
#mailing-list {
    height: 200px;
    width: 30%;
    background-color: hotpink;
    padding: 15px 20px 20px 20px;
    margin: 0px 0px 10px 0px;
    float: left;
}
.input {
    display: flex;
    align-items: center;
}
#trending-freq{
    width: 62%;
    height: 200px;
    float: right;
    background-color: hotpink;
    padding: 5px 20px 30px 20px;
    margin: 0px 0px 10px 0px;
}